


.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: #f0f2f5; */
    font-family: Arial, sans-serif;
    background:radial-gradient(
        rgba(0, 213, 255, 0.586), rgba(0, 7, 79, 0.8)),
    url("./cssimage.jpg") center center fixed;
    
   
}
*{
    margin: 0px;
}